<header class="is-preload">
    <!-- Header -->
    <div id="header" class="alt">
        <a class="logo" href="index.html"><strong>L & J's Cleaning Services</strong>
        </a>
        <nav id="nav">
            <ul>
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="generic.html">Our Team</a></li>
                <li><a href="elements.html">Elements</a></li>
            </ul>
        </nav>
</header>