@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body class="is-preload">
    <!-- Header -->
    <div id="header" class="alt">
        <a class="logo" href="index.html"><strong>L & J's Cleaning Services</strong>
        </a>
        <nav id="nav">
            <ul>
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="generic.html">Our Team</a></li>
                <li><a href="elements.html">Elements</a></li>
            </ul>
        </nav>
    </div>

    <!-- Main -->
    <div id="main">
        <!-- Header -->
        <header>
            <img src="images/momsMainLogo.svg" alt="a man cleaning logo" />
        </header>

        <!-- Banner -->
        <section class="banner">
            <h2>Clean home guaranteed down to the details</h2>
            <ul class="actions special">
                <li><a href="#" class="button">Book Now</a></li>
            </ul>
        </section>

        <!-- One -->
        <section id="one" class="wrapper spotlight">
            <div class="content">
                <div class="inner">
                    <h2>Schedule a call or get an estimate Today</h2>
                    <p>
                        For more than 15 years, L & J’s Cleaning Services delivers house
                        cleaning to residents of the Twin Cities metro area. We offer a
                        variety of services all catered to the need of our valued clients.
                        We offer customizable cleaning, scheduled cleaning, deep cleanings
                        and more.
                    </p>
                    <ul class="actions">
                        <li><a href="#get-a-quote" class="button">Get An Estimate</a></li>
                    </ul>
                </div>
            </div>
            <ul class="grid-icons">
                <li>
                    <div class="inner">
                        <img src="images/houseKeeping.svg" alt="image with cleaning matierals and a clock" />
                        <h3>Deep Cleaning</h3>
                    </div>
                </li>
                <li>
                    <div class="inner">
                        <img src="images/schedulingTimeToClean.svg" />
                        <h3>Scheduled Cleanings</h3>
                    </div>
                </li>
                <li>
                    <div class="inner">
                        <img src="images/icons8-pricing.svg" alt="image of a start with a price tag in the middle" />
                        <h3>Fair Pricing</h3>
                    </div>
                </li>
                <li>
                    <div class="inner">
                        <img id="gif" src="images/icons8-guarantee.gif" alt="a moving gif that has a gurantee badge" />
                        <h3>Quality Cleaning Guaranteed</h3>
                    </div>
                </li>
            </ul>
        </section>

        <!-- Two -->
        <section id="two" class="wrapper style1 spotlight alt">
            <div class="content">
                <div class="inner">
                    <h2>Clean home Guaratneed</h2>
                    <ul>
                        <li>Bathroom Cleaning</li>
                        <li>Kitchen Cleaning</li>
                        <li>Living Room Cleaning</li>
                        <li>Bed Room Cleaning</li>
                        <li></li>
                    </ul>
                    <ul class="actions"></ul>
                </div>
            </div>
            <div class="image">
                <img src="./images/cleaningBathrooom.jpg" data-position="30% 30%" alt="Cleaning bathroom door" />
            </div>
        </section>

        <!-- Three -->
        <section id="three" class="wrapper style2 spotlight">
            <div class="content">
                <div class="inner">
                    <h2>Clean business</h2>
                    <ul>
                        <li>Office Cleaning</li>
                        <li>Bathroom Cleaning</li>
                        <li>Kitchen Cleaning</li>
                    </ul>
                </div>
            </div>
            <div class="image">
                <img src="images/pic03.jpg" data-position="center right" alt="" />
            </div>
        </section>

        <!-- Four -->
        <section id="four" class="wrapper style3 spotlight alt">
            <div class="content">
                <div class="inner">
                    <h2>People You can trust</h2>
                    <p>
                        After 15 years of service, we have dedicated ourselves to a
                        professional and honest work. We have cultivated clients that have
                        trust in us and our work over many years. We hope to see you soon!
                    </p>
                    <ul class="actions">
                        <li><a href="#" class="button">Learn More</a></li>
                    </ul>
                </div>
            </div>
            <div class="image">
                <img src="images/pic04.jpg" data-position="top right" alt="" />
            </div>
        </section>

        <!-- Five -->
        <section id="five" class="wrapper special">
            <h2>What people are saying</h2>
            <p>
                Praesent dapibus, neque id cursus faucibus, tortor neque ege tas
                augue, eu vulputate magna eros eu erat. Aliquam erat et volutpat. Nam
                dui mi, tincidunt quis, accumsan porttitor tempus lorem ipsum dolor
                sit amet consequat.
            </p>
            <ul class="faces">
                <li>
                    <span class="image"><img src="images/pic05.jpg" alt="" /></span>
                    <h3>Vanessa</h3>
                    <p>
                        "Aliquam erat et volutpat. Nam dui mi, tincidunt quis, porttitor
                        magna etiam lorem tempus."
                    </p>
                </li>
                <li>
                    <span class="image"><img src="images/pic06.jpg" alt="" /></span>
                    <h3>Sean Anderson</h3>
                    <p>
                        "Aliquam erat et volutpat. Nam dui mi, tincidunt quis, porttitor
                        magna etiam lorem tempus."
                    </p>
                </li>
                <li>
                    <span class="image"><img src="images/pic07.jpg" alt="" /></span>
                    <h3>Glena Smith</h3>
                    <p>
                        "Aliquam erat et volutpat. Nam dui mi, tincidunt quis, porttitor
                        magna etiam lorem tempus."
                    </p>
                </li>
            </ul>
        </section>
    </div>

    <!-- Footer -->
    <div id="footer">
        <h2 id="get-a-quote">Get your estiamte or ask us any questions!</h2>
        <p>We will get back to you in 24hrs</p>
        <form method="POST" action="https://formsubmit.co/52bc636fbb152dd63d99915566361bef">
            <div class="row gtr-uniform">
                <div class="col-6 col-12-xsmall">
                    <input type="text" name="name" id="name" value="" placeholder="Name" />
                </div>
                <div class="col-6 col-12-xsmall">
                    <input type="email" name="email" id="email" value="" placeholder="Email" />
                </div>
                <!-- Break -->
                <div class="col-12">
                    <label for="category">Choose your desired cleaning service</label>
                    <select name="category" id="category">
                        <option value="Regular Clean">Regular Clean</option>
                        <option value="Deep Clean">Deep Clean</option>
                        <option value="Weekly Clean">Weekly Clean</option>
                        <option value="Bi-Weekly Clean">Bi-Weekly Clean</option>
                        <option value="Monthly Clean">Monthly Clean</option>
                    </select>
                </div>
                <!-- Break -->
                <div class="col-4 col-12-small">
                    <input value="Full house cleaning" type="radio" id="priority-low" name="type" checked="" />
                    <label for="priority-low">Full house cleaning</label>
                </div>
                <div class="col-4 col-12-small">
                    <input value="Parts of house cleaning" type="radio" id="priority-normal" name="type" />
                    <label for="priority-normal">Parts of house cleaning</label>
                </div>
                <!-- Break -->
                <div class="col-5 col-12-xsmall">
                    <!-- Minnesota-->
                    <select id="city" name="city">
                        <option value="">Select City</option>
                        <option value="Ada">Ada</option>
                        <option value="Adrian">Adrian</option>
                        <option value="Afton">Afton</option>
                        <option value="Aitkin">Aitkin</option>
                        <option value="Aitkin County">Aitkin County</option>
                        <option value="Albany">Albany</option>
                        <option value="Albert Lea">Albert Lea</option>
                        <option value="Albertville">Albertville</option>
                        <option value="Alexandria">Alexandria</option>
                        <option value="Andover">Andover</option>
                        <option value="Annandale">Annandale</option>
                        <option value="Anoka">Anoka</option>
                        <option value="Anoka County">Anoka County</option>
                        <option value="Apple Valley">Apple Valley</option>
                        <option value="Appleton">Appleton</option>
                        <option value="Arden Hills">Arden Hills</option>
                        <option value="Arlington">Arlington</option>
                        <option value="Arnold">Arnold</option>
                        <option value="Atwater">Atwater</option>
                        <option value="Aurora">Aurora</option>
                        <option value="Austin">Austin</option>
                        <option value="Avon">Avon</option>
                        <option value="Babbitt">Babbitt</option>
                        <option value="Bagley">Bagley</option>
                        <option value="Barnesville">Barnesville</option>
                        <option value="Baudette">Baudette</option>
                        <option value="Baxter">Baxter</option>
                        <option value="Bayport">Bayport</option>
                        <option value="Becker">Becker</option>
                        <option value="Becker County">Becker County</option>
                        <option value="Belle Plaine">Belle Plaine</option>
                        <option value="Beltrami County">Beltrami County</option>
                        <option value="Bemidji">Bemidji</option>
                        <option value="Benson">Benson</option>
                        <option value="Benton County">Benton County</option>
                        <option value="Big Lake">Big Lake</option>
                        <option value="Big Stone County">Big Stone County</option>
                        <option value="Birchwood">Birchwood</option>
                        <option value="Blaine">Blaine</option>
                        <option value="Blooming Prairie">Blooming Prairie</option>
                        <option value="Bloomington">Bloomington</option>
                        <option value="Blue Earth">Blue Earth</option>
                        <option value="Blue Earth County">Blue Earth County</option>
                        <option value="Braham">Braham</option>
                        <option value="Brainerd">Brainerd</option>
                        <option value="Branch">Branch</option>
                        <option value="Breckenridge">Breckenridge</option>
                        <option value="Breezy Point">Breezy Point</option>
                        <option value="Brooklyn Center">Brooklyn Center</option>
                        <option value="Brooklyn Park">Brooklyn Park</option>
                        <option value="Brown County">Brown County</option>
                        <option value="Buffalo">Buffalo</option>
                        <option value="Burnsville">Burnsville</option>
                        <option value="Byron">Byron</option>
                        <option value="Caledonia">Caledonia</option>
                        <option value="Cambridge">Cambridge</option>
                        <option value="Canby">Canby</option>
                        <option value="Cannon Falls">Cannon Falls</option>
                        <option value="Carlton">Carlton</option>
                        <option value="Carlton County">Carlton County</option>
                        <option value="Carver">Carver</option>
                        <option value="Carver County">Carver County</option>
                        <option value="Cass County">Cass County</option>
                        <option value="Center City">Center City</option>
                        <option value="Centerville">Centerville</option>
                        <option value="Champlin">Champlin</option>
                        <option value="Chanhassen">Chanhassen</option>
                        <option value="Chaska">Chaska</option>
                        <option value="Chatfield">Chatfield</option>
                        <option value="Chippewa County">Chippewa County</option>
                        <option value="Chisago City">Chisago City</option>
                        <option value="Chisago County">Chisago County</option>
                        <option value="Chisholm">Chisholm</option>
                        <option value="Circle Pines">Circle Pines</option>
                        <option value="Clara City">Clara City</option>
                        <option value="Clay County">Clay County</option>
                        <option value="Clearwater">Clearwater</option>
                        <option value="Clearwater County">Clearwater County</option>
                        <option value="Cloquet">Cloquet</option>
                        <option value="Cohasset">Cohasset</option>
                        <option value="Cokato">Cokato</option>
                        <option value="Cold Spring">Cold Spring</option>
                        <option value="Coleraine">Coleraine</option>
                        <option value="Collegeville">Collegeville</option>
                        <option value="Cologne">Cologne</option>
                        <option value="Columbia Heights">Columbia Heights</option>
                        <option value="Columbus">Columbus</option>
                        <option value="Cook County">Cook County</option>
                        <option value="Coon Rapids">Coon Rapids</option>
                        <option value="Corcoran">Corcoran</option>
                        <option value="Cottage Grove">Cottage Grove</option>
                        <option value="Cottonwood">Cottonwood</option>
                        <option value="Cottonwood County">Cottonwood County</option>
                        <option value="Crookston">Crookston</option>
                        <option value="Crosby">Crosby</option>
                        <option value="Cross Lake">Cross Lake</option>
                        <option value="Crow Wing County">Crow Wing County</option>
                        <option value="Crystal">Crystal</option>
                        <option value="Dakota County">Dakota County</option>
                        <option value="Dassel">Dassel</option>
                        <option value="Dawson">Dawson</option>
                        <option value="Dayton">Dayton</option>
                        <option value="Deephaven">Deephaven</option>
                        <option value="Delano">Delano</option>
                        <option value="Dellwood">Dellwood</option>
                        <option value="Detroit Lakes">Detroit Lakes</option>
                        <option value="Dilworth">Dilworth</option>
                        <option value="Dodge Center">Dodge Center</option>
                        <option value="Dodge County">Dodge County</option>
                        <option value="Douglas County">Douglas County</option>
                        <option value="Duluth">Duluth</option>
                        <option value="Dundas">Dundas</option>
                        <option value="Eagan">Eagan</option>
                        <option value="Eagle Lake">Eagle Lake</option>
                        <option value="East Bethel">East Bethel</option>
                        <option value="East Grand Forks">East Grand Forks</option>
                        <option value="East Gull Lake">East Gull Lake</option>
                        <option value="Eden Prairie">Eden Prairie</option>
                        <option value="Eden Valley">Eden Valley</option>
                        <option value="Edgerton">Edgerton</option>
                        <option value="Edina">Edina</option>
                        <option value="Elbow Lake">Elbow Lake</option>
                        <option value="Elgin">Elgin</option>
                        <option value="Elk River">Elk River</option>
                        <option value="Elko New Market">Elko New Market</option>
                        <option value="Ely">Ely</option>
                        <option value="Esko">Esko</option>
                        <option value="Eveleth">Eveleth</option>
                        <option value="Excelsior">Excelsior</option>
                        <option value="Eyota">Eyota</option>
                        <option value="Fairfax">Fairfax</option>
                        <option value="Fairmont">Fairmont</option>
                        <option value="Falcon Heights">Falcon Heights</option>
                        <option value="Faribault">Faribault</option>
                        <option value="Faribault County">Faribault County</option>
                        <option value="Farmington">Farmington</option>
                        <option value="Fergus Falls">Fergus Falls</option>
                        <option value="Fillmore County">Fillmore County</option>
                        <option value="Foley">Foley</option>
                        <option value="Forest Lake">Forest Lake</option>
                        <option value="Fosston">Fosston</option>
                        <option value="Frazee">Frazee</option>
                        <option value="Freeborn County">Freeborn County</option>
                        <option value="Fridley">Fridley</option>
                        <option value="Fulda">Fulda</option>
                        <option value="Gaylord">Gaylord</option>
                        <option value="Gilbert">Gilbert</option>
                        <option value="Glencoe">Glencoe</option>
                        <option value="Glenwood">Glenwood</option>
                        <option value="Glyndon">Glyndon</option>
                        <option value="Golden Valley">Golden Valley</option>
                        <option value="Goodhue">Goodhue</option>
                        <option value="Goodhue County">Goodhue County</option>
                        <option value="Goodview">Goodview</option>
                        <option value="Grand Marais">Grand Marais</option>
                        <option value="Grand Meadow">Grand Meadow</option>
                        <option value="Grand Rapids">Grand Rapids</option>
                        <option value="Granite Falls">Granite Falls</option>
                        <option value="Grant">Grant</option>
                        <option value="Grant County">Grant County</option>
                        <option value="Greenfield">Greenfield</option>
                        <option value="Hallock">Hallock</option>
                        <option value="Ham Lake">Ham Lake</option>
                        <option value="Hanover">Hanover</option>
                        <option value="Harris">Harris</option>
                        <option value="Hastings">Hastings</option>
                        <option value="Hawley">Hawley</option>
                        <option value="Hayfield">Hayfield</option>
                        <option value="Hector">Hector</option>
                        <option value="Hennepin County">Hennepin County</option>
                        <option value="Hermantown">Hermantown</option>
                        <option value="Hibbing">Hibbing</option>
                        <option value="Hinckley">Hinckley</option>
                        <option value="Hopkins">Hopkins</option>
                        <option value="Houston County">Houston County</option>
                        <option value="Howard Lake">Howard Lake</option>
                        <option value="Hoyt Lakes">Hoyt Lakes</option>
                        <option value="Hubbard County">Hubbard County</option>
                        <option value="Hugo">Hugo</option>
                        <option value="Hutchinson">Hutchinson</option>
                        <option value="Independence">Independence</option>
                        <option value="International Falls">International Falls</option>
                        <option value="Inver Grove Heights">Inver Grove Heights</option>
                        <option value="Isanti">Isanti</option>
                        <option value="Isanti County">Isanti County</option>
                        <option value="Itasca County">Itasca County</option>
                        <option value="Ivanhoe">Ivanhoe</option>
                        <option value="Jackson">Jackson</option>
                        <option value="Jackson County">Jackson County</option>
                        <option value="Janesville">Janesville</option>
                        <option value="Jordan">Jordan</option>
                        <option value="Kanabec County">Kanabec County</option>
                        <option value="Kandiyohi County">Kandiyohi County</option>
                        <option value="Kasson">Kasson</option>
                        <option value="Keewatin">Keewatin</option>
                        <option value="Kenyon">Kenyon</option>
                        <option value="Kittson County">Kittson County</option>
                        <option value="Koochiching County">Koochiching County</option>
                        <option value="La Crescent">La Crescent</option>
                        <option value="Lac qui Parle County">Lac qui Parle County</option>
                        <option value="Lake City">Lake City</option>
                        <option value="Lake County">Lake County</option>
                        <option value="Lake Crystal">Lake Crystal</option>
                        <option value="Lake Elmo">Lake Elmo</option>
                        <option value="Lake of the Woods County">
                            Lake of the Woods County
                        </option>
                        <option value="Lake Saint Croix Beach">
                            Lake Saint Croix Beach
                        </option>
                        <option value="Lake Shore">Lake Shore</option>
                        <option value="Lakefield">Lakefield</option>
                        <option value="Lakeland">Lakeland</option>
                        <option value="Lakeville">Lakeville</option>
                        <option value="Lauderdale">Lauderdale</option>
                        <option value="Le Center">Le Center</option>
                        <option value="Le Sueur">Le Sueur</option>
                        <option value="Le Sueur County">Le Sueur County</option>
                        <option value="Lester Prairie">Lester Prairie</option>
                        <option value="Lewiston">Lewiston</option>
                        <option value="Lexington">Lexington</option>
                        <option value="Lincoln County">Lincoln County</option>
                        <option value="Lindstrom">Lindstrom</option>
                        <option value="Lino Lakes">Lino Lakes</option>
                        <option value="Litchfield">Litchfield</option>
                        <option value="Little Canada">Little Canada</option>
                        <option value="Little Falls">Little Falls</option>
                        <option value="Little Rock">Little Rock</option>
                        <option value="Long Lake">Long Lake</option>
                        <option value="Long Prairie">Long Prairie</option>
                        <option value="Lonsdale">Lonsdale</option>
                        <option value="Luverne">Luverne</option>
                        <option value="Lyon County">Lyon County</option>
                        <option value="Madelia">Madelia</option>
                        <option value="Madison">Madison</option>
                        <option value="Madison Lake">Madison Lake</option>
                        <option value="Mahnomen">Mahnomen</option>
                        <option value="Mahnomen County">Mahnomen County</option>
                        <option value="Mahtomedi">Mahtomedi</option>
                        <option value="Mankato">Mankato</option>
                        <option value="Mantorville">Mantorville</option>
                        <option value="Maple Grove">Maple Grove</option>
                        <option value="Maple Lake">Maple Lake</option>
                        <option value="Maple Plain">Maple Plain</option>
                        <option value="Mapleton">Mapleton</option>
                        <option value="Maplewood">Maplewood</option>
                        <option value="Marshall">Marshall</option>
                        <option value="Marshall County">Marshall County</option>
                        <option value="Martin County">Martin County</option>
                        <option value="Mayer">Mayer</option>
                        <option value="McLeod County">McLeod County</option>
                        <option value="Medford">Medford</option>
                        <option value="Medina">Medina</option>
                        <option value="Meeker County">Meeker County</option>
                        <option value="Melrose">Melrose</option>
                        <option value="Menahga">Menahga</option>
                        <option value="Mendota Heights">Mendota Heights</option>
                        <option value="Milaca">Milaca</option>
                        <option value="Mille Lacs County">Mille Lacs County</option>
                        <option value="Minneapolis">Minneapolis</option>
                        <option value="Minneota">Minneota</option>
                        <option value="Minnetonka">Minnetonka</option>
                        <option value="Minnetonka Mills">Minnetonka Mills</option>
                        <option value="Minnetrista">Minnetrista</option>
                        <option value="Montevideo">Montevideo</option>
                        <option value="Montgomery">Montgomery</option>
                        <option value="Monticello">Monticello</option>
                        <option value="Montrose">Montrose</option>
                        <option value="Moorhead">Moorhead</option>
                        <option value="Moose Lake">Moose Lake</option>
                        <option value="Mora">Mora</option>
                        <option value="Morris">Morris</option>
                        <option value="Morrison County">Morrison County</option>
                        <option value="Mound">Mound</option>
                        <option value="Mounds View">Mounds View</option>
                        <option value="Mountain Iron">Mountain Iron</option>
                        <option value="Mountain Lake">Mountain Lake</option>
                        <option value="Mower County">Mower County</option>
                        <option value="Murray County">Murray County</option>
                        <option value="New Brighton">New Brighton</option>
                        <option value="New Hope">New Hope</option>
                        <option value="New London">New London</option>
                        <option value="New Prague">New Prague</option>
                        <option value="New Richland">New Richland</option>
                        <option value="New Ulm">New Ulm</option>
                        <option value="New York Mills">New York Mills</option>
                        <option value="Newport">Newport</option>
                        <option value="Nicollet">Nicollet</option>
                        <option value="Nicollet County">Nicollet County</option>
                        <option value="Nisswa">Nisswa</option>
                        <option value="Nobles County">Nobles County</option>
                        <option value="Norman County">Norman County</option>
                        <option value="North Branch">North Branch</option>
                        <option value="North Mankato">North Mankato</option>
                        <option value="North Oaks">North Oaks</option>
                        <option value="North Saint Paul">North Saint Paul</option>
                        <option value="Northfield">Northfield</option>
                        <option value="Norwood (historical)">Norwood (historical)</option>
                        <option value="Norwood Young America">
                            Norwood Young America
                        </option>
                        <option value="Nowthen">Nowthen</option>
                        <option value="Oak Grove">Oak Grove</option>
                        <option value="Oak Park Heights">Oak Park Heights</option>
                        <option value="Oakdale">Oakdale</option>
                        <option value="Oakport">Oakport</option>
                        <option value="Olivia">Olivia</option>
                        <option value="Olmsted County">Olmsted County</option>
                        <option value="Orono">Orono</option>
                        <option value="Oronoco">Oronoco</option>
                        <option value="Ortonville">Ortonville</option>
                        <option value="Osakis">Osakis</option>
                        <option value="Osseo">Osseo</option>
                        <option value="Otsego">Otsego</option>
                        <option value="Otter Tail County">Otter Tail County</option>
                        <option value="Owatonna">Owatonna</option>
                        <option value="Park Rapids">Park Rapids</option>
                        <option value="Parkers Prairie">Parkers Prairie</option>
                        <option value="Parkville">Parkville</option>
                        <option value="Paynesville">Paynesville</option>
                        <option value="Pelican Rapids">Pelican Rapids</option>
                        <option value="Pennington County">Pennington County</option>
                        <option value="Pequot Lakes">Pequot Lakes</option>
                        <option value="Perham">Perham</option>
                        <option value="Pierz">Pierz</option>
                        <option value="Pine City">Pine City</option>
                        <option value="Pine County">Pine County</option>
                        <option value="Pine Island">Pine Island</option>
                        <option value="Pipestone">Pipestone</option>
                        <option value="Pipestone County">Pipestone County</option>
                        <option value="Plainview">Plainview</option>
                        <option value="Plymouth">Plymouth</option>
                        <option value="Polk County">Polk County</option>
                        <option value="Pope County">Pope County</option>
                        <option value="Preston">Preston</option>
                        <option value="Princeton">Princeton</option>
                        <option value="Prior Lake">Prior Lake</option>
                        <option value="Proctor">Proctor</option>
                        <option value="Ramsey">Ramsey</option>
                        <option value="Ramsey County">Ramsey County</option>
                        <option value="Red Lake">Red Lake</option>
                        <option value="Red Lake County">Red Lake County</option>
                        <option value="Red Lake Falls">Red Lake Falls</option>
                        <option value="Red Wing">Red Wing</option>
                        <option value="Redby">Redby</option>
                        <option value="Redwood County">Redwood County</option>
                        <option value="Redwood Falls">Redwood Falls</option>
                        <option value="Renville">Renville</option>
                        <option value="Renville County">Renville County</option>
                        <option value="Rice">Rice</option>
                        <option value="Rice County">Rice County</option>
                        <option value="Richfield">Richfield</option>
                        <option value="Richmond">Richmond</option>
                        <option value="Robbinsdale">Robbinsdale</option>
                        <option value="Rochester">Rochester</option>
                        <option value="Rock County">Rock County</option>
                        <option value="Rock Creek">Rock Creek</option>
                        <option value="Rockford">Rockford</option>
                        <option value="Rockville">Rockville</option>
                        <option value="Rogers">Rogers</option>
                        <option value="Roseau">Roseau</option>
                        <option value="Roseau County">Roseau County</option>
                        <option value="Rosemount">Rosemount</option>
                        <option value="Roseville">Roseville</option>
                        <option value="Royalton">Royalton</option>
                        <option value="Rush City">Rush City</option>
                        <option value="Rushford">Rushford</option>
                        <option value="Saint Anthony">Saint Anthony</option>
                        <option value="Saint Augusta">Saint Augusta</option>
                        <option value="Saint Bonifacius">Saint Bonifacius</option>
                        <option value="Saint Charles">Saint Charles</option>
                        <option value="Saint Cloud">Saint Cloud</option>
                        <option value="Saint Francis">Saint Francis</option>
                        <option value="Saint James">Saint James</option>
                        <option value="Saint Joseph">Saint Joseph</option>
                        <option value="Saint Louis County">Saint Louis County</option>
                        <option value="Saint Louis Park">Saint Louis Park</option>
                        <option value="Saint Michael">Saint Michael</option>
                        <option value="Saint Paul">Saint Paul</option>
                        <option value="Saint Paul Park">Saint Paul Park</option>
                        <option value="Saint Peter">Saint Peter</option>
                        <option value="Sandstone">Sandstone</option>
                        <option value="Sartell">Sartell</option>
                        <option value="Sauk Centre">Sauk Centre</option>
                        <option value="Sauk Rapids">Sauk Rapids</option>
                        <option value="Savage">Savage</option>
                        <option value="Scandia">Scandia</option>
                        <option value="Scott County">Scott County</option>
                        <option value="Shafer">Shafer</option>
                        <option value="Shakopee">Shakopee</option>
                        <option value="Sherburn">Sherburn</option>
                        <option value="Sherburne County">Sherburne County</option>
                        <option value="Shoreview">Shoreview</option>
                        <option value="Shorewood">Shorewood</option>
                        <option value="Sibley County">Sibley County</option>
                        <option value="Silver Bay">Silver Bay</option>
                        <option value="Slayton">Slayton</option>
                        <option value="Sleepy Eye">Sleepy Eye</option>
                        <option value="South Saint Paul">South Saint Paul</option>
                        <option value="Spicer">Spicer</option>
                        <option value="Spring Grove">Spring Grove</option>
                        <option value="Spring Lake Park">Spring Lake Park</option>
                        <option value="Spring Park">Spring Park</option>
                        <option value="Spring Valley">Spring Valley</option>
                        <option value="Springfield">Springfield</option>
                        <option value="Stacy">Stacy</option>
                        <option value="Staples">Staples</option>
                        <option value="Starbuck">Starbuck</option>
                        <option value="Stearns County">Stearns County</option>
                        <option value="Steele County">Steele County</option>
                        <option value="Stevens County">Stevens County</option>
                        <option value="Stewartville">Stewartville</option>
                        <option value="Stillwater">Stillwater</option>
                        <option value="Swift County">Swift County</option>
                        <option value="Taylors Falls">Taylors Falls</option>
                        <option value="Thief River Falls">Thief River Falls</option>
                        <option value="Todd County">Todd County</option>
                        <option value="Tonka Bay">Tonka Bay</option>
                        <option value="Tracy">Tracy</option>
                        <option value="Traverse County">Traverse County</option>
                        <option value="Truman">Truman</option>
                        <option value="Two Harbors">Two Harbors</option>
                        <option value="Tyler">Tyler</option>
                        <option value="Vadnais Heights">Vadnais Heights</option>
                        <option value="Victoria">Victoria</option>
                        <option value="Vineland">Vineland</option>
                        <option value="Virginia">Virginia</option>
                        <option value="Wabasha">Wabasha</option>
                        <option value="Wabasha County">Wabasha County</option>
                        <option value="Waconia">Waconia</option>
                        <option value="Wadena">Wadena</option>
                        <option value="Wadena County">Wadena County</option>
                        <option value="Waite Park">Waite Park</option>
                        <option value="Walker">Walker</option>
                        <option value="Wanamingo">Wanamingo</option>
                        <option value="Warren">Warren</option>
                        <option value="Warroad">Warroad</option>
                        <option value="Waseca">Waseca</option>
                        <option value="Waseca County">Waseca County</option>
                        <option value="Washington County">Washington County</option>
                        <option value="Watertown">Watertown</option>
                        <option value="Waterville">Waterville</option>
                        <option value="Watonwan County">Watonwan County</option>
                        <option value="Waverly">Waverly</option>
                        <option value="Wayzata">Wayzata</option>
                        <option value="Wells">Wells</option>
                        <option value="West Coon Rapids">West Coon Rapids</option>
                        <option value="West Saint Paul">West Saint Paul</option>
                        <option value="Wheaton">Wheaton</option>
                        <option value="White Bear Lake">White Bear Lake</option>
                        <option value="Wilkin County">Wilkin County</option>
                        <option value="Willmar">Willmar</option>
                        <option value="Windom">Windom</option>
                        <option value="Winnebago">Winnebago</option>
                        <option value="Winona">Winona</option>
                        <option value="Winona County">Winona County</option>
                        <option value="Winsted">Winsted</option>
                        <option value="Winthrop">Winthrop</option>
                        <option value="Woodbury">Woodbury</option>
                        <option value="Worthington">Worthington</option>
                        <option value="Wright County">Wright County</option>
                        <option value="Wyoming">Wyoming</option>
                        <option value="Yellow Medicine County">
                            Yellow Medicine County
                        </option>
                        <option value="Young America (historical)">
                            Young America (historical)
                        </option>
                        <option value="Zimmerman">Zimmerman</option>
                        <option value="Zumbrota">Zumbrota</option>
                    </select>
                </div>
                <!-- Break -->
                <div class="col-12">
                    <textarea name="message" id="message" placeholder="Enter your message" rows="6"></textarea>
                </div>
                <!-- Break -->
                <div class="col-12">
                    <ul class="actions">
                        <input type="hidden" name="_autoresponse" value="Thank you! We will get back to you shortly." />
                        <!-- <input type="hidden" name="_next" value=""> -->
                        <input type="hidden" name="_template" value="table" />
                        <li>
                            <input type="submit" value="Send Message" class="primary" />
                        </li>
                        <li><input type="reset" value="Reset" /></li>
                    </ul>
                </div>
            </div>
        </form>
        <ul class="major-icons">
            <li>
                <h3 class="icon solid fa-phone major">
                    <span class="label">Phone</span>
                </h3>
                <p>(612) 600-5245</p>
            </li>
            <li>
                <h3 class="icon solid fa-map major">
                    <span class="label">Address</span>
                </h3>
                <p>Minneapolis, MN<br /></p>
            </li>
        </ul>
        <ul class="joined-icons">
            <li>
                <a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a>
            </li>
            <li>
                <a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a>
            </li>
            <li>
                <a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a>
            </li>
            <li>
                <a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a>
            </li>
            <li>
                <a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a>
            </li>
        </ul>
        <p class="copyright">&copy; L & J's Cleaning Services.</p>
    </div>
</body>
